h1 {
    color:purple;
}

.article {
    width: 50%;
    margin: auto;
}

iframe {
    margin: auto;
    display: block;
}


.iframe-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-top: 56.25%; /* 16:9 Aspect Ratio */
}

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: none;
}

p{

}
#intro{
    font-size: 2em;
}

#byline {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

byline {
    font-size: 4em;
}

p.story {
    
}

/* for instructional purposes */
div {
    border: solid 1px gray;
}

/* for phones */
@media (orientation: portrait) {
    article {
        width: 100%;
        font-size: 2em;
    }
}